<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/projectEVE</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <!-- 配置C3P0连接池属性 -->
        <property name="hibernate.connection.provider_class">
            org.hibernate.c3p0.internal.C3P0ConnectionProvider
        </property>
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <!-- 如果3分钟没人用，就关掉连接 -->
        <property name="c3p0.timeout">180</property>
        <!-- 可以同时执行50条sql -->
        <property name="c3p0.max_statements">50</property>
        <!-- 显示sql -->
        <property name="show_sql">true</property>
        <!-- 方言，不同的数据库语法有差异，选择正常的数据库方言，便于hibernate生成对应的SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <!--<property name="current_session_context_class">thread</property>-->
        <!--<property name="current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</property>-->
        <mapping resource="po/ItemPo.hbm.xml"/>
        <mapping resource="po/MemberPo.hbm.xml"/>
        <mapping resource="po/PlanetPo.hbm.xml"/>
        <mapping resource="po/MailPo.hbm.xml"/>
        <mapping resource="po/CalendarEventPo.hbm.xml"/>
        <mapping resource="po/CalendarJoinPo.hbm.xml"/>
        <!-- 映射实体路径 -->
    </session-factory>
</hibernate-configuration>